#announcements-page {
	color: white;
}

.announcements {
	position: absolute;
	color: white;
	width: 1426px;
}

.new-announcement-button {
	position: fixed;
	right: 20px;
	bottom: 10px;
	cursor: pointer;
	margin: 15px;
	width: 50px;
	height: 50px;
	border: none;
	outline: none;
	font-size: 25px;
	background-color: transparent;
	color: #0AA100;
	border: 1.5px solid #0AA100;
	border-radius: 50%;
	transition-duration: 0.7s;
}

.new-announcement-button:hover {
	background-color: #0AA100;
	color: white;
}

.new-announcement-modal {
	margin: auto;
	height: 530px;
	width: 900px;
	transform: translateY(10%);
	background-color: white;
	outline: none;
	border: 1px solid white;
}

.new-announcement-form {
	font-family: 'Nunito';
}

.new-announcement-form > div {
	margin: 5px 15px;
	padding: 5px;
}

.new-announcement-form > textarea {
	border: 1px solid grey;
	font-family: 'Nunito';
	margin: 5px 15px;
	padding: 5px;
	resize: none;
	outline: none;
}

.new-announcement-form > textarea:focus {
	border: 1px solid #0060D7;
}

.new-announcement-title {
	width: 850px;
	height: 25px;
	font-size: 15px;
}

.new-announcement-description {
	width: 850px;
	min-height: 300px;
	font-size: 15px;
}

.add-announcement-button, .close-modal-button {
	cursor: pointer;
	margin: 15px;
	width: 25%;
	height: 30px;
	outline: none;
	background-color: white;
	transition-duration: 0.7s;
}

.add-announcement-button {
	color: #0AA100;
	border: 1px solid #0AA100;
}

.add-announcement-button:hover {
	background-color: #0AA100;
	color: white;
}

.close-modal-button {
	color: #DC0000;
	border: 1px solid #DC0000;
}

.close-modal-button:hover {
	background-color: #DC0000;
	color: white;
}
