.file {
	font-family: 'Nunito';
	margin: 5px;
	height: 50px;
	line-height: 50px;
	border: 1px solid white;
}

.file-name {
	display: inline-block;
	padding: 5px;
	width: 500px;
	height: 40px;
	line-height: 40px;
	word-wrap: break-word;
}

.file-view-button {
	cursor: pointer;
	height: 30px;
	outline: none;
	font-family: 'Nunito';
	border: 1px solid #BF00B8;
	background-color: transparent;
	color: #BF00B8;
	transition-duration: 0.7s;
}

.file-view-button:hover {
	background-color: #BF00B8;
	color: white;
}
