.add-subject-div {
	border: 1px solid black;
	width: 300px;
	height: 200px;
	font-family: 'Nunito';
	padding: 5px;
	margin: 5px;
	float: left;
	cursor: pointer;
	box-shadow: 1px 1px 1px black;
}

.add-subject-button {
	text-align: center;
	font-size: 35px;
	line-height: 150px;
	height: 75%;
	opacity: 0.8;
	border-bottom: 1px solid black;
}

.add-subject-label {
	text-align: center;
	padding: 15px 5px;
}
