#sign-up-page {
	height: 732px;
}

.sign-up {
	position: absolute;
	width: 500px;
	height: 400px;
	border: 1px solid white;
	color: white;
	padding: 15px;
	margin-left: 450px;
	margin-top: 150px;
	font-family: 'Nunito';
}

.sign-up-title {
	text-align: center;
	font-size: 35px;
	border-bottom: 1px solid white;
}

.sign-up-form {
	margin: 15px;
	padding: 5px;
}

.sign-up-form > div {
	margin-bottom: 15px;
}

.sign-up-email, .sign-up-password {
	width: 310px;
	height: 30px;
	margin-bottom: 15px;
	outline: none;
	font-family: 'Nunito';
	font-size: 15px;
	border: 1px solid grey;
	padding-left: 2px;
}

.sign-up-submit, .sign-up-cancel-button {
	width: 150px;
	height: 35px;
	margin-right: 10px;
	margin-top: 10px;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 15px;
	font-family: 'Nunito';
	transition-duration: 0.7s;
}

.sign-up-submit {
	border: 1px solid #0AA100;
	color: #0AA100;
}

.sign-up-submit:hover {
	background-color: #0AA100;
	color: white;
}

.sign-up-cancel-button {
	border: 1px solid #DC0000;
	color: #DC0000;
}

.sign-up-cancel-button:hover {
	background-color: #DC0000;
	color: white;
}

.notification-bar-wrapper {
	color: red;
}

.notification-bar-message {
	color: white;
}
