.subject-home-page {
	background-color: #FCFCFC;
}

.study-material {
	cursor: pointer;
	font-family: 'Nunito';
	float: left;
	padding: 5px;
	width: 550px;
	height: 100px;
	border: 1px solid black;
	box-shadow: 1px 1px 1px black;
	word-wrap: break-word;
}

.study-material-title {
	text-align: center;
	font-size: 30px;
	border-bottom: 1px solid black;
}

.assignments-study-material {
	width: 560px;
	display: inline-block;
}
