.subject {
	border: 1px solid white;
	color: white;
	width: 300px;
	height: 200px;
	font-family: 'Nunito';
	padding: 5px;
	margin: 5px;
	float: left;
	cursor: pointer;
	box-shadow: 1px 1px 1px white;
}

.subject-info {
	height: 75%;
	border-bottom: 1px solid white;
}

.subject-code, .subject-name {
	font-size: 20px;
	padding: 5px;
	word-wrap: break-word;
}

.instructor-name {
	padding: 15px 5px;
}
